.site-address {
  font-style: normal;
  display: inline-block;
  margin-left: auto;
  float: right;
}

.site-address__link, .site-address__schedule {
  color: #fff;
}

.site-address__link {
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
}

.site-address__schedule {
  width: max-content;
  margin-left: auto;
}