.news {
  margin-bottom: 57,5px;
}

.news__title {
  line-height: 49px;
  margin-bottom: 51px;
}

.news-list__item {
  width: 557px;
  height: 354px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news-list__item:last-child {
  margin-right: 0;
}